#Images
{
  padding-top: 1%;
  padding-left:16%;
  margin-bottom: -50px;
}

#fox
{
  padding-left: 3%;
}

#Registration_Forms
{
  margin-top: 5%;
  display: none;
  padding-left: 30%;
  float: left;
}

#Div_Login
{
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  float: left;
  margin-right: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#Div_Register
{
  float: left;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

/*#RegisterBtn
{
  float: right;
  margin-right: 100px;
}*/

#Div_Animals
{
  display: none;
}

input[type="text"], textarea
{
  background-color : #d1d1d1;
}

input[type="password"], textarea
{
  background-color : #d1d1d1;
}

::-webkit-input-placeholder
{
   color: #516666;
}

::-moz-placeholder
{
   color: #516666;
}

/*div of Animal input boxes*/
#Input_Create
{
  margin-top: 25px;
  margin-left: 100px;
  margin-bottom: 20px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  float: left;
  /*background-color: rgba(0, 0, 0, 0.6);*/
}

/*div of find Animal by id*/
#Input_Search
{
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  /*color: white;*/
  float: left;
  position: relative;
  /*background-color: rgba(0, 0, 0, 0.6);*/
}

#Welcome_message
{
  color: black;
  text-align: center;
}

/*div of table*/
#Info
{
  padding-left: 4%;
  margin-top: 175px;
  overflow-y: scroll;
  /*overflow-x: scroll;*/
  height:600px;
  width: 91%;
}

table
{
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

 th
 {
   width: 13%;
   border: 3px solid black;
   /*text-align: left;*/
 }

 td
 {
   width: 13%;
   border: 3px solid black;
 }

body
{
  background-color:#FDB851;
  background-image: url("savanabg2.jpg");
  background-size: cover;
  color: black;
}

button
{
  border-radius: 50%;
  font-size: 15px;
}
